apiVersion: apps/v1
kind: Deployment
metadata:
  name: authservice
  labels:
    app: authservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authservice
  template:
    metadata:
      labels:
        app: authservice
    spec:
      serviceAccountName: authservice
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: server
          image: manojkrishnappa/authservice:1
          ports:
            - containerPort: 8081
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
          readinessProbe:
            initialDelaySeconds: 15
            httpGet:
              path: /health
              port: 8081
          livenessProbe:
            initialDelaySeconds: 15
            httpGet:
              path: /health
              port: 8081
          env:
            - name: PORT
              value: "8081"
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: authservice
